.area {
  width: 180px;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    position: absolute;
  }
}

.image {
  width: 150px;
  height: 150px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
}
